<header>
  <div class="nav">
    <div class="logo">
      <span class="logo-dot"></span>
      <a href="/">FreezerMeals</a>
    </div>
    <nav>
      <ul>
        <li><a href="/how">How it works</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/founders">Our story</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div>
      <a class="btn btn-primary" href="/order">Order now</a>
    </div>
  </div>
</header>
